*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
}
nav{
    /* border :2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #DA8800;
}
nav a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo span{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: gainsboro;
}
.logo span:hover{
    color: white;
}
.log-out{
    border: 2px solid white;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 10px;
    background-color: white;
    color: #fa9d07;
    border-radius:5px ;
    transition-property:background-color,color ;
    transition-duration: 0.5s;
}
.log-out:hover{
    background-color:transparent ;
    color: white;
}
.pages{
    /* border :2px solid red; */
    background-color: #a15f01;
}
.pages ul{
    display: flex;
    gap :5px;
    list-style: none;
    padding: 10px 0px 10px 40px;
}
.pages ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    /* border: 2px solid red; */
    padding: 5px 10px;
    color: white;
}
.pages ul li a:hover{
    color: #fa9d07;
    background-color: white;
}
.page-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    padding: 20px 60px;
}
.page-name a{
    /* border :2px solid red; */
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 37px;
    background-color: #DA8800;
    box-shadow: 4px 4px 2px -4px rgba(203,199,199,0.75);
    text-shadow: none;
    color: white;
    transition-property: box-shadow ,text-shadow;
    transition-duration: 0.5s;
}
.page-name a:hover{
    box-shadow: 5px 5px 2px 0px rgba(203,199,199,0.89);
    text-shadow: 3px 3px 6px #000000;
}
.table-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
table{
    width: 80%;
}
table ,thead,th,tbody,tr,td{
    border: 1px solid black;
} 
thead{
    background-color: #a15f01;
    color: white;
}
.data{
    text-align: center;
}
td a{
    text-decoration: none;
    color: black;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DA8800;
    padding: 10px 0px;
}
footer span{
    color: white;
}
.form-data{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    height: 90vh;
    background-color: rgba(203,199,199,0.75);
}
.form-data h1{
    padding: 20px 0px;
}
.form-data form{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.form-data form div{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.form-data form div label{
    font-size: x-large;
}
.form-data form div input{
    font-size: large;
    padding: 3px 10px;
}
.save{
    font-size: 20px;
    cursor: pointer;
}
textarea{
    width: 100%;
}
select{
    /* border: 2px solid red; */
    width: 70%;
    font-size: 20px;
}
header form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
header form input{
    font-size: 20px;
    /* border: 2px solid rgb(86, 47, 47); */
    border: none;
    padding: 7px 18px;
    border-radius: 3px;
}
header form button{
    font-size: 19px;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: white;
    color: #DA8800;
    transition-property:background-color,color ;
    transition-duration: 0.5s;
}
header form button:hover{
    background-color: transparent;
    color: white;
}
.movies_box{
    /* border: 5px solid green; */
    padding: 3rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.movie_box{
    width: 17rem;
    height: 35rem;
    border: 2px solid #DA8800;
}
.movie_box a div img{
    width: 100%;
    height: 100%;
}
.movie_box a p{
    text-align: center;
}
.movie_box a {
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff;
    color:#DA8800;
    font-weight: bold;
}
.movie_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 3rem 20rem;
}
.movie_content div{
    width: 100%;
}
.movie_content div video{
    width: 100%;
}